{{ $bundleRaw := resources.Get "sass/style.sass" | resources.ExecuteAsTemplate "css/main.tmp.css" . }}

{{ if .Site.IsServer }}
{{ $cssOpts := (dict "targetPath" "css/main.css" "enableSourceMap" true ) }}
{{ $bundle := $bundleRaw | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}" media="screen">
{{ else }}
{{ $cssOpts := (dict "targetPath" "css/main.css" ) }}
{{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
{{ $bundle := $bundleRaw | toCSS $cssOpts | postCSS $postCSSOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" media="screen">
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">


<!-- Custom css -->
{{ if .Site.IsServer }}
  {{ range .Site.Params.customCSS }}
    {{ $style := resources.Get . }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen">
  {{ end }}
{{ else }}
  {{ range .Site.Params.customCSS }}
    {{ $style := resources.Get . }}
    {{ $bundle := $style | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" media="screen">
  {{ end }}
{{ end }}

<!-- Howler Audioplayer -->
{{ if eq .Type "audio" }}
{{ $player := resources.Get "css/player.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $player.RelPermalink }}">
{{ end }}

<!-- PhotoSwipe -->
{{ if eq .Type "gallery" }}
{{ $photoswipe := resources.Get "css/photoswipe.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $photoswipe.RelPermalink }}">
{{ end }}
