@import "vars"
@import "mixins"


*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    background-color: $background-color
    background: url("{{ .Site.BaseURL }}/{{ .Site.Params.background }}") no-repeat center top fixed
    background-size: cover

    color: $font-color
    font-family: $font
    font-size: $font-size
    letter-spacing: 0.1em
    line-height: 2em
    text-shadow: none
    text-transform: lowercase

    head
        title


    body
        display: flex
        flex-direction: column
        flex-wrap: wrap
        align-items: center

        header
            padding: 3em 1em 1em 0
            @media screen and (max-width: 736px)
                padding: 1em 0

        h1, h2, h3
            //margin-bottom: 0.5em

        ul
            list-style-type: none

        li
            opacity: 0.8

        p
            display: inline

        a
            color: $font-color-link
            text-decoration: none
            +ease(0.5s)
            &:hover
                border: 0.15em dashed $font-color-link-hover
                color: $font-color-link-hover

        hr
            +skinny-hr
            opacity: 0.3

        nav
            a
            h1, h2, h3
            li
            p
            ul

        footer
            a
            h1, h2, h3
            li
            p
            ul

        main
            min-width: 40%

            @media only screen and (min-resolution: 1dppx) and (min-width: 1280px)
                main
                    width: 80%

            @media only screen and (min-resolution: 1dppx) and (min-width: 1920px)
                main
                    width: 80%

            @media only screen and (orientation: portrait) and (min-resolution: 2dppx)
                main
                    width: 100%

            @media only screen and (orientation: portrait) and (min-resolution: 2.5dppx)
                main
                    width: 100%

            @media only screen and (orientation: landscape) and (min-resolution: 2dppx)
                main
                    width: 80%

            @media only screen and (orientation: landscape) and (min-resolution: 2.5dppx)
                main
                    width: 80%

            display: flex
            flex-direction: column
            justify-content: space-evenly
            margin: 0.2em

            aside, article
                display: flex
                flex-direction: column
                flex-wrap: wrap
                justify-content: center
                text-transform: lowercase

                .single
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center

                    div
                        display: flex
                        justify-content: flex-start

                    .date
                        opacity: 0.7
                    .title
                    .cover
                        justify-content: center
                        img
                            height: auto
                            width: 600px
                            max-width: 80%
                    .desc
                    .tags
                        flex-direction: row
                        flex-wrap: wrap
                        line-height: 1em
                        padding: 0.2em
                        margin-bottom: 2em

                        *
                            padding-right: 0.2em
                        a
                            margin-left: 0.2em
                            border: 0.1em dashed $font-color-link

                    .content
                        flex-direction: column
                        justify-content: flex-start
                        margin-bottom: 2em
                        @media only screen and (orientation: landscape)
                            max-width: 80%

                    .player
                        flex-direction: column
                        justify-content: center
                        width: 100%

                        @media only screen and (orientation: landscape)
                            margin: 2em

                        .info
                            display: flex
                            flex-direction: row
                            justify-content: center

                            div
                                display: flex
                                justify-content: space-evenly

                        .control
                            display: flex
                            flex-direction: row
                            justify-content: space-evenly
                            margin: 1em

                            *
                                width: 100%

                            div
                                flex-direction: row
                                justify-content: space-evenly

                            button
                                opacity: 1
                                background: transparent
                                border: none
                                display: flex
                                justify-content: space-evenly
                                color: red

                            input
                                border: 1em dashed red


                        .playlist
                            background: black
                            opacity: 0.7
                            width: 100%
                            padding: 2em

                            .list
                                display: flex
                                flex-direction: column
                                flex-wrap: wrap
                                color: $font-color-dialog
                                justify-content: flex-start
                                div
                                    flex-direction: column
                                    justify-content: center
                                    font-size: $font-size-dialog

                .list
                    display: flex
                    flex-direction: row
                    flex-wrap: wrap
                    justify-content: space-evenly

                    .content
                        flex-direction: column
                        justify-content: flex-start

                    .tags
                        display: flex
                        flex-direction: row
                        flex-wrap: wrap
                        justify-content: flex-start
                        line-height: 1.2em
                        margin-bottom: 2em

                        a
                            margin-left: 0.2em

                    .item
                        flex-direction: column
                        max-width: 33%
                        @media only screen and (orientation: portrait) and (min-resolution: 2.5dppx)
                          max-width: 100%

                        &:hover
                            border: 0.2em dashed $font-color-link-hover


                        img
                            max-height: 12em
                            max-width: 100%

                        div
                            padding: 0.2em

                        .date, .title, .cover, .desc, .content
                            display: flex
                            justify-content: flex-start
                            background-color: $background-color-item
                            margin-bottom: 0.4em

                        .date
                            opacity: 0.7

                .gallery
                    display: flex
                    flex-direction: row
                    flex-wrap: wrap
                    justify-content: space-evenly

        .main-menu
            display: flex
            flex-direction: column
            justify-content: center
            min-height: calc(100vh - 6em)

            a
                font-size: 3em
                font-weight: 400
                line-height: 2em


        .bottom-menu
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-evenly
            text-align: center
            opacity: 0.8

            a
                margin: 0.1em
