{{ define "section_content" }}
    <article role="article">
        <div class="single">
            <aside role="complementary">

                <div class="date">
                    {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} / {{ .WordCount }} words
                </div>
                <div class="tags">
                    <div>
                        tags:
                    </div>
                    {{ range $term := .Params.tags }}
                        {{ with $.Site.GetPage (printf "/%s/%s" "tags" $term | urlize) }}
                            <a href="{{ .RelPermalink }}">
                                {{ $term }}
                            </a>
                        {{ end }}
                    {{ end }}
                </div>
            </aside>

            {{ if .Content }}
                <div class="content">
                    {{ .Content }}
                </div>
            {{ end }}

            {{ if isset .Params "image" }}
                <div class="cover">
                    <img src="{{ .Params.image }}" style="" alt=""/>
                </div>
            {{ end }}

            <div class="player">

                <div class="info" id="track"></div>

                <div class="info">
                    <div id="timer">-</div>
                    <div id="seperator"> / </div>
                    <div id="duration">-</div>
                </div>

                <div class="control">
                    <input id="progress" type="range"
                           min="0" max="200" step="any" value="0"/>
                </div>

                <div class="control">
                    <div>
                        <button id="prevBtn" alt="prev"></button>
                        <button id="loading" alt="loading"></button>
                        <button id="playBtn" alt="play"></button>
                        <button id="pauseBtn" alt="pause"></button>
                        <button id="nextBtn" alt="next"></button>
                    </div>
                </div>
                <div class="control">
                    <button id="playlistBtn" alt="playlist"></button>
                    <button id="volumeBtn" alt="volume"></button>
                </div>

                <div class="control">
                    <div class="fadeout" id="volume" style="display: none;">
                        <input id="slider" type="range"
                               min="0" max="100" step="any" value="0"/>
                    </div>
                </div>

                <!-- Playlist -->
                <dialog class="playlist" id="playlist" style="display: none;">
                    <div class="list" id="list"></div>
                </dialog>

            </div>
        </div>

    </article>

    {{ $howler := resources.Get "js/howler.core.min.js" | resources.Minify }}
    {{ $audioplayer := resources.Get "js/player.js" | resources.Minify }}

    <script src="{{ $howler.RelPermalink }}"></script>
    <script src="{{ $audioplayer.RelPermalink }}"></script>

    <script>

        var player = null;

        window.addEventListener("load", (event) => {
            // Setup our new audio player class and pass it the playlist.
            player = new Player([
                {{ range .Params.audio }}
                { title: {{ . }}, file: {{ . }}, howl: null },
                {{ end }}
            ]);

            // Bind our player controls.
            playBtn.addEventListener('click', function() {
              player.play();
              slider.value = Howler.volume() * slider.max;
            });
            pauseBtn.addEventListener('click', function() {
              player.pause();
            });
            prevBtn.addEventListener('click', function() {
              player.skip('prev');
            });
            nextBtn.addEventListener('click', function() {
              player.skip('next');
            });
            playlistBtn.addEventListener('click', function() {
              player.togglePlaylist();
            });
            playlist.addEventListener('click', function() {
              player.togglePlaylist();
            });
            playlist.addEventListener('cancel', function() {
              player.togglePlaylist();
            });
            volumeBtn.addEventListener('click', function() {
              player.toggleVolume();
            });
            volume.addEventListener('mouseup', function() {
              player.toggleVolume();
            });

            progress.addEventListener('input', function (event) {
                let progress = event.srcElement;
                let pos = progress.value / progress.max;
                player.seek(pos);
                console.log("progress", pos);
            });

            slider.addEventListener('input', function (event) {
                let slider = event.srcElement;
                let vol = slider.value / slider.max;
                player.volume(vol);
                console.log("volume", vol);
            });
        });
    </script>
{{ end }}
