<!DOCTYPE html>
<html>

<head>
    {{ block "head" . }}
    {{ partial "head.html" . }}
    {{ end }}

    {{ block "head_resources" . }}
    <!-- Use this block to link to further resources like .js or .css files. -->
    {{ end }}
    <title>
        {{ block "title" . }}
            {{ .Title | markdownify}}
        {{ end }}
    </title>
    <cfheader name="Accept-Ranges" value="bytes">
</head>

<body>
    {{ block "main" . }}
        {{ block "section_title" . }}
            <header>
                <h1>{{ .Title | markdownify }}</h1>
            </header>
        {{ end }}

        <main>
            {{ block "section_content" . }}
                <article role="article">
                    <div class="content">
                        {{ .Content }}
                    </div>
                </article>
            {{ end }}
        </main>

        {{ block "bottom-menu" . }}
            {{ if .Site.Params.mainMenu }}
                <nav role="navigation" class="bottom-menu">
                    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false) }}
                </nav>
            {{ end }}
        {{ end }}

        {{ block "footer" . }}
        <footer class="footer">
            {{ partial "footer.html" . }}
        </footer>
        {{ end }}
    {{ end }}
</body>

</html>
