{{ define "section_content" }}
<article>
    <div class="list">
        {{ if .Content }}
            <div class="content">
                {{ .Content }}
            </div>
        {{ end }}

        <div class="tags">
            {{ $tags := slice }}
            {{ range .Data.Pages}}
                {{ if .Params.tags }}
                    {{ $tags = $tags | append .Params.tags }}
                {{ end }}
            {{ end}}

            <div>
                tags:
            </div>
            {{ range $term := $tags | uniq }}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" $term | urlize) }}
                    <a href="{{ .RelPermalink }}">
                        {{ $term }}
                    </a>
                {{ end }}
            {{ end }}
        </div>

        <div class="list">
            {{ range .Data.Pages }}
                <a class="item" title="{{ .Title }}" href="{{.RelPermalink}}">
                    {{ if .Params.image }}
                        <div class="cover">
                            <img src="{{ .RelPermalink }}/{{ .Params.image }}" alt="{{ .Params.image }}">
                        </div>
                    {{ end }}
                    {{ if .Title }}
                        <div class="title">
                            {{.Title | markdownify}}
                        </div>
                    {{ end }}
                    {{ if not .Params.image }}
                        {{ if .Params.desc }}
                            <div class="desc">
                                {{ .Params.desc | markdownify }}
                            </div>
                        {{ else if .Content }}
                            <div class="content">
                                {{ .Content | truncate 140 }}
                            </div>
                        {{ end }}
                    {{ end }}

                    {{ if .Params.showDate }}
                        <div class="date">
                                {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}<br>
                        </div>
                    {{ end }}
                </a>
            {{ end }}

            <script>
                var rotationMax = 4;
                elements = document.getElementsByClassName("item");
                for (i = 0; i < elements.length; i++) {
                    elem = elements[i];
                    elem.style.transform = "rotate(" + (Math.random() * rotationMax - rotationMax / 2 ) + "deg )".toString();
                }
                elements = document.querySelectorAll(".item div");

                console.log(elements);
                for (i = 0; i < elements.length; i++) {
                    elem = elements[i];
                    elem.style.transform = "rotate(" + (Math.random() * rotationMax - rotationMax / 2 ) + "deg )".toString();
                }
            </script>
        </div>
    </div>
</article>
{{ end }}
