{{ define "section_content" }}
<article role="article">
    <div class="single">
        <aside role="complementary">
            <div class="date">
                {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006") }} / {{ .WordCount }} words
            </div>
            <div class="tags">
                <div>
                    tags:
                </div>
                {{ range $term := .Params.tags }}
                    {{ with $.Site.GetPage (printf "/%s/%s" "tags" $term | urlize) }}
                        <a href="{{ .RelPermalink }}">
                            {{ $term }}
                        </a>
                    {{ end }}
                {{ end }}
            </div>
        </aside>

        <div class="content">
            {{ .Content }}
        </div>
    </div>

</article>
{{ end }}
