{{ if or (.Page.Site.Params.mainMenu) (.show_back_menu_item) }}
    {{ if .Page.Site.Params.mainMenu }}
        {{ range first 1 .Page.Site.Params.mainMenu }}
            <a href="{{ .link | relURL }}">{{ .text }}</a>
        {{ end }}

        {{ if ( gt ( len .Page.Site.Params.mainMenu ) 1 ) }}
            {{ range after 1 .Page.Site.Params.mainMenu }}
                <span>&#183;</span>
                <a href="{{ .link | relURL }}">{{ .text }}</a>
            {{ end }}
        {{ end }}

        {{ if .Page.Site.Params.homepage }}
            <span>&#183;</span>
            <a href="{{ .Site.Home | relURL }}">
                {{ .Page.Site.Params.homepage }}
            </a>
        {{ end }}
    {{ end }}
{{ end }}
